<a href="https://colab.research.google.com/github/apicem7217/Clase-12/blob/Phyton/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [12]:
paises = ("1", "2", "3", "4", "5", "6")

In [13]:
type(paises)

tuple

In [14]:
pd.Series

pandas.core.series.Series

In [16]:
pd.DateFrame

AttributeError: ignored

In [17]:
columna = Pd.Series(paises)

NameError: ignored

In [18]:
print(columna)

NameError: ignored

In [ ]:
df = pd.DataFrame(columna)

In [10]:
df.colunns = ["pais"]
df.columns

NameError: ignored

In [9]:
df2 = pd.DataFrame({
"A": 1.0, # flotante
"B": pd.Timestamp("20130102"), # datetime64
"C": pd.Series(1, index=list(range(4)), dtype="float32"),
"D": np.array([3] * 4, dtype="int32"),
"E": pd.Categorical(["test", "train", "test", "train"]),
"F": "foo", # string
})

NameError: ignored

In [19]:
countries_dict = {
 "pais": ["Argentina", "Bélgica", "Finlandia", "Chile", "México"],
"capital": ["Buenos Aires", "Brusela", "Helsinki", "Santiago", "CDMX"],
'continente': ['América', 'Europa', 'Europa', 'América', 'América' ],
"area": [8.516, 17.10, 3.286, 9.597, 1.221],
"poblacion": [200.4, 143.5, 125.2, 135.7, 52.98]
}
countries_dict

{'pais': ['Argentina', 'Bélgica', 'Finlandia', 'Chile', 'México'],
 'capital': ['Buenos Aires', 'Brusela', 'Helsinki', 'Santiago', 'CDMX'],
 'continente': ['América', 'Europa', 'Europa', 'América', 'América'],
 'area': [8.516, 17.1, 3.286, 9.597, 1.221],
 'poblacion': [200.4, 143.5, 125.2, 135.7, 52.98]}

In [26]:
df = pd.DataFrame(countries_dict)

In [27]:
df

        pais       capital continente    area  poblacion
0  Argentina  Buenos Aires    América   8.516     200.40
1    Bélgica       Brusela     Europa  17.100     143.50
2  Finlandia      Helsinki     Europa   3.286     125.20
3      Chile      Santiago    América   9.597     135.70
4     México          CDMX    América   1.221      52.98

In [32]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [36]:
df[["pais"]]

        pais
0  Argentina
1    Bélgica
2  Finlandia
3      Chile
4     México